body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
}

input::-webkit-input-placeholder {
  color: #a1a1a1 !important;
}

input:active {
  outline: none !important;
  border-color: transparent;
}

.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
  width: 84px !important;
  background-color: #f9f9f9 !important;
}

.container,
.container-xxl {
  max-width: 1410px !important;
}
